body {
    margin: 0;
    background-color: #333333;
    height: 100vh;
}

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.fit-width {
    flex-direction: column;
}

.fit-height {
    flex-direction: row;
}